body {
  background-color: #0d1117;
}

.board,
.board-background {
  top: 0;
  left: 0;
}

.board {
  z-index: 2;
}

.board-background {
  z-index: 1;
}

.board-ctn {
  position: relative;
  border-style: solid;
  border-color: #393939;
  border-radius: 1px;
  border-width: 3px;
  width: 248px;
  height: 480px;
}

.layer {
  position: absolute;
}
